body {
    background-color: #FFFFFF;
    color: #187342;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #187342;
    color: #FFFFFF;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box; /* Ensure padding is included in width */
    border-bottom: 2px solid #187342;
    padding-bottom: 10px;
}

.contactHeading{
    padding-top: 30px;
}
.header .title {
    font-size: 30px;
    font-weight: bold;
    white-space: nowrap; /* Prevent title from wrapping */
}


.header .nav-links {
    display: flex;
    gap: 15px;
}

.header a {
    color: #ffffff;
    font-size: medium;
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}
.nav-links a {
    color: #ffffff;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
}
.nav-links a:hover {
    text-decoration: underline;
}

.contactBack {
    padding: 0;
}

.contact-section {
    background: #ffffff;
    border: 2px solid #004d00; /* Dark green border */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


.contact-name h2 {
    color: #004d00; /* Dark green */
    font-size: 1.5rem;
}

.contact-name .border-bottom {
    border-bottom: 2px solid #004d00; /* Dark green */
}

.text-dark {
    color: #212529;
}

.text-dark a {
    color: #004d00; /* Dark green */
    text-decoration: none;
}

.text-dark a:hover {
    text-decoration: underline;
}

.email-link {
    color: #004d00; /* Dark green */
    text-decoration: none;
    margin-left: 8px;
}

.email-link:hover {
    text-decoration: underline;
}

.text-dark svg {
    margin-right: 8px;
}
