body {
    background-color: #FFFFFF;
    color: #187342;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #187342;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 100%;
}

.nav-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 5px;
    margin-right: 20px;

}

#navTitle {
    margin-left: 20px;
    font-size: 30px;
    color: #FFFFFF;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}



.nav-links a {
    color: #ffffff;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
}

@media screen and (max-width: 450px) {
    #navTitle {
        font-size: 20px; /* Smaller font size on mobile */
    }
    
    .nav-links {
        margin-top: 10px; /* Add some space if it wraps to next line */
    }
}

.faq-section {
    margin: 20px;
}
.faq-section h1 {
    font-size: 28px;
    margin-bottom: 20px;
}
.faq-section h2 {
    font-size: 22px;
    margin-top: 20px;
}
.faq-section p {
    font-size: 18px;
}

/* Updated button styles */
#expandAll, .accordion-button {
    background-color: #187342;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#expandAll:hover, .accordion-button:hover {
    background-color: #ca914f;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transform: translateY(-2px);
}

#expandAll:active, .accordion-button:active {
    transform: translateY(1px);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.accordion-button:not(.collapsed) {
    background-color: #004225;
}

.accordion-button:not(.collapsed)::after {
    color: white;
}

/* Change the accordion content background color */
.accordion-body {
    background-color: #e6f4ea;
}

#expandAll {
    float: right;
}

/* Styles for social media icons */
.accordion-body .fa-brands,
.accordion-body .fa-solid {
    font-size: 2em;
    margin-right: 10px;
    color: #187342;
}

.accordion-body .fa-brands:hover,
.accordion-body .fa-solid:hover {
    color: #004225;
    transform: scale(1.1);
    transition: all 0.3s ease;
}